spring:
  application:
    name: Observability Demo Application
  config:
    import: optional:classpath:.env.properties

info:
  name: \${spring.application.name}
  version: ${version}
  profile: \${spring.profiles.active}
  
server:
  port: 8080
  error:
    include-message: always
    
management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: info, health, prometheus
        
weatherapi:
  apikey: \${WEATHERAPI_APIKEY}
